.music,
.post-feed {
    max-width: 100%;

    & &-album {
        display: flex;
        flex-direction: row;
        position: relative;

        &:last-of-type {
            margin-bottom: 1em;
        }

        @include mobile {
            flex-direction: column;
        }

        &_cover {
            width: 20vw;
            height: 20vw;
            max-width: 500px;
            max-height: 500px;

            &-wrapper {
                display: block;
                margin-right: 1em;

                @include mobile {
                    margin: 0;
                    width: 100%;
                }
            }

            img {
                max-height: 20vw;
            }

            @include mobile {
                width: 40vw;
                height: 40vw;
                margin: auto;

                img {
                    width: 40vw;
                    height: 40vw;
                    max-height: 40vw;
                }
            }
        }

        p,
        a {
            font-size: 0.9em;
            line-height: 1em;
            font-weight: 300;
            padding-bottom: 0.5em;
            color: var(--text, #{$p_text});
        }

        a {
            @include underline-on-hover($p_text);
        }

        section {
            width: 100%;
        }

        &_title {
            margin-top: 3vw;
            font-size: 2em;
            margin-bottom: 0.6em;
            @include mobile {
                text-align: center;
            }
        }

        &_summary {
            padding-bottom: 0.5em;
        }

        &_moods {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin-bottom: 0.8em;

            .mood-tag {
                display: inline-block;
                padding: 0.3em 0.8em;
                background-color: rgba(0, 0, 0, 0.08);
                border-radius: 15px;
                font-size: 0.85em;
                font-weight: 400;
                color: var(--text, #{$p_text});
                transition: background-color 0.3s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
}
