$image-dim: 192px;

.post-feed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text, #{$p_text});
    hr {
        margin-bottom: 0.25em;
        @include mobile {
            &:first-of-type {
                margin-top: 0;
            }
        }
    }
    article {
        width: 100%;
        position: relative;
    }
    h1 {
        flex: 0;
        margin: auto;
        display: flex;
        align-items: center;
    }
    h2 {
        margin-bottom: 0.5em;
        @include mobile {
            text-align: center;
        }
    }
    a {
        line-height: 1.1em;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: 0.4s;
        -webkit-text-decoration-color: transparent;
        -moz-text-decoration-color: transparent;
        &:hover {
            text-decoration-color: $black;
            -webkit-text-decoration-color: $black;
            -moz-text-decoration-color: $black;
        }
    }
    .article-date {
        font-size: 0.95em;
        margin-top: -0.5em;
        opacity: 0.5;
        text-align: right;
    }

    figure {
        width: max-content;
        margin: auto;
        margin-bottom: 1em;
        max-width: 300px;
    }

    &_image {
        max-width: 300px;
        max-height: 300px;
        border: 0;
        margin: auto;
    }

    .click-to-enlarge {
        max-width: 300px;
        max-height: 300px;
    }


    .music-album {
        &_title {
            display: none;
        }
        &_summary {
            margin-top: 3vw;;
        }
    }
}
